<div class="custom-order-info">
  <div class="info-column">
    <div class="info-item normal">
      <div class="label">Sales Order</div>
      <div class="value">MAY Test SO Number</div>
    </div>

    <div class="info-item normal">
      <div class="label">Delivery Order</div>
      <div class="value">MAY Test DO Number</div>
    </div>

    <div class="info-item normal">
      <div class="label">Billing Number</div>
      <div class="value">MAY Test Billing Number</div>
    </div>

    <div class="info-item normal">
      <div class="label">Placed on</div>
      <div class="value">20-Jan-26</div>
    </div>

    <div class="info-item normal">
      <div class="label">Status</div>
      <div class="value">Created</div>
    </div>
  </div>

  <div class="info-column">
    <div class="info-item normal">
      <div class="label">Purchase Order Number</div>
      <div class="value">None</div>
    </div>

    <div class="info-item normal">
      <div class="label">Method of Payment</div>
      <div class="value">Cash or Credit</div>
    </div>

    <div class="info-item normal">
      <div class="label">Payment Status</div>
      <div class="value">MAY Test Paid</div>
    </div>

    <div class="info-item normal">
      <div class="label">Delivery Status</div>
      <div class="value">MAY Test Pending</div>
    </div>
  </div>

  <div class="info-column">
    <div class="info-item normal">
      <div class="label">Ship To</div>
      <div class="value">
        ชื่อ<br />
        เลขที่ สถานที่ ถนน<br />
        แขวง, เขต<br />
        จังหวัด รหัสไปรษณีย์<br />
        ประเทศ
      </div>
    </div>

    <div class="info-item normal">
      <div class="label">Shipping Method</div>
      <div class="value">
        Free STD Shipping<br />
        Free STD<br />
        0 บาท
      </div>
    </div>

    <div class="info-item normal">
      <div class="label">Remark</div>
      <div class="value">MAY Test</div>
    </div>
  </div>
</div>