registry=https://registry.npmjs.org/
@spartacus:registry=https://73554900100900004337.npmsrv.cdn.repositories.cloud.sap/
//73554900100900004337.npmsrv.cdn.repositories.cloud.sap/:_auth=MDAwMTc2NDkyMi0wMDA4NDMyNDcyOld5RXdMN3RaU2gxVm1LQncxaHpENkM1N2g1RjRWY0pR
always-auth=true